<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--
    Initial viewport: if at least 500px required for the design, can be set in width="".
    So width basically translates to "minimal size".
    - from MDN (23-03-21)
    -->
    <meta name="viewport" content="width=device-width", initial-scale="1">
    <title>Product Page</title>
    <link rel='icon' href='favicon.ico' type='image/x-icon'>
</head>
<body>

    <section class="navbar">

    </section>

    <section class="product-container">

    </section>

    <section class="footnote">
        @2021, Edgars Dudins
    </section>

</body>
</html>